.error{
	background-color: #eff8ff;
	padding: 30px;
	pointer-events: auto;
	position: relative;
	box-shadow: 0 10px 20px rgba(0,0,0,0.045), 0 6px 6px rgba(0,0,0,0.065);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover{
		box-shadow: 0 14px 28px rgba(0,0,0,0.085), 0 10px 10px rgba(0,0,0,0.085)
	}
	&__close{
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 30px;
		height: 30px;
		transition: opacity ease-in-out .2s;
		svg{
			width: 50%;
			height: 50%;
			fill: #e3297c;
		}
		&:hover{
			opacity: .6;
		}
	}
	&:not(:last-child){
		margin-bottom: 20px;
	}
	&__title{
		color: #3ab9e2;
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 15px;
	}
	&__message{
		color: #81aac8;
		font-weight: 300;
	}
}
.list-enter-active, .list-leave-active {
	transition: opacity .5s, transform .5s;
}
.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateY(-20%);
}